<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiken.saas.platform.mapper.ExternalInspectionMapper">
  <resultMap id="BaseResultMap" type="com.beiken.saas.platform.pojo.ExternalInspection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="inspect_unit" jdbcType="VARCHAR" property="inspectUnit" />
    <result column="inspect_time" jdbcType="VARCHAR" property="inspectTime" />
    <result column=" production_unit" jdbcType="VARCHAR" property="productionUnit" />
    <result column="inspect_result" jdbcType="VARCHAR" property="inspectResult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, title, inspect_unit, inspect_time, " production_unit", 
    inspect_result
  </sql>
  <select id="selectByExample" parameterType="com.beiken.saas.platform.pojo.ExternalInspectionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from external_inspection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from external_inspection
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from external_inspection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.beiken.saas.platform.pojo.ExternalInspectionExample">
    delete from external_inspection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.beiken.saas.platform.pojo.ExternalInspection">
    insert into external_inspection (id, gmt_create, gmt_modified, 
      title, inspect_unit, inspect_time, 
      " production_unit", inspect_result)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=VARCHAR}, #{gmtModified,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{inspectUnit,jdbcType=VARCHAR}, #{inspectTime,jdbcType=VARCHAR}, 
      #{productionUnit,jdbcType=VARCHAR}, #{inspectResult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.beiken.saas.platform.pojo.ExternalInspection">
    insert into external_inspection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="inspectUnit != null">
        inspect_unit,
      </if>
      <if test="inspectTime != null">
        inspect_time,
      </if>
      <if test="productionUnit != null">
        " production_unit",
      </if>
      <if test="inspectResult != null">
        inspect_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="inspectUnit != null">
        #{inspectUnit,jdbcType=VARCHAR},
      </if>
      <if test="inspectTime != null">
        #{inspectTime,jdbcType=VARCHAR},
      </if>
      <if test="productionUnit != null">
        #{productionUnit,jdbcType=VARCHAR},
      </if>
      <if test="inspectResult != null">
        #{inspectResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.beiken.saas.platform.pojo.ExternalInspectionExample" resultType="java.lang.Long">
    select count(*) from external_inspection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update external_inspection
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectUnit != null">
        inspect_unit = #{record.inspectUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectTime != null">
        inspect_time = #{record.inspectTime,jdbcType=VARCHAR},
      </if>
      <if test="record.productionUnit != null">
        " production_unit" = #{record.productionUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectResult != null">
        inspect_result = #{record.inspectResult,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update external_inspection
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{record.gmtModified,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      inspect_unit = #{record.inspectUnit,jdbcType=VARCHAR},
      inspect_time = #{record.inspectTime,jdbcType=VARCHAR},
      " production_unit" = #{record.productionUnit,jdbcType=VARCHAR},
      inspect_result = #{record.inspectResult,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.beiken.saas.platform.pojo.ExternalInspection">
    update external_inspection
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="inspectUnit != null">
        inspect_unit = #{inspectUnit,jdbcType=VARCHAR},
      </if>
      <if test="inspectTime != null">
        inspect_time = #{inspectTime,jdbcType=VARCHAR},
      </if>
      <if test="productionUnit != null">
        " production_unit" = #{productionUnit,jdbcType=VARCHAR},
      </if>
      <if test="inspectResult != null">
        inspect_result = #{inspectResult,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beiken.saas.platform.pojo.ExternalInspection">
    update external_inspection
    set gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      inspect_unit = #{inspectUnit,jdbcType=VARCHAR},
      inspect_time = #{inspectTime,jdbcType=VARCHAR},
      " production_unit" = #{productionUnit,jdbcType=VARCHAR},
      inspect_result = #{inspectResult,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>