<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiken.saas.platform.mapper.HiddenDangerMapper">
  <resultMap id="BaseResultMap" type="com.beiken.saas.platform.pojo.HiddenDangerDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="danger_code" jdbcType="VARCHAR" property="dangerCode" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="report_extra" jdbcType="VARCHAR" property="reportExtra" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
    <result column="bg_item_code" jdbcType="VARCHAR" property="bgItemCode" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="parent_dept_id" jdbcType="BIGINT" property="parentDeptId" />
    <result column="parent_dept_name" jdbcType="VARCHAR" property="parentDeptName" />
    <result column="danger_level" jdbcType="INTEGER" property="dangerLevel" />
    <result column="break_user_id" jdbcType="VARCHAR" property="breakUserId" />
    <result column="break_user_name" jdbcType="VARCHAR" property="breakUserName" />
    <result column="responsibility_user_id" jdbcType="BIGINT" property="responsibilityUserId" />
    <result column="responsibility_user_name" jdbcType="VARCHAR" property="responsibilityUserName" />
    <result column="confirm_user_id" jdbcType="BIGINT" property="confirmUserId" />
    <result column="confirm_user_name" jdbcType="VARCHAR" property="confirmUserName" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="change_end_date" jdbcType="TIMESTAMP" property="changeEndDate" />
    <result column="report_type" jdbcType="INTEGER" property="reportType" />
    <result column="report_status" jdbcType="INTEGER" property="reportStatus" />
    <result column="dis_level_user_id" jdbcType="BIGINT" property="disLevelUserId" />
    <result column="dis_level_user_name" jdbcType="VARCHAR" property="disLevelUserName" />
    <result column="dis_level_time" jdbcType="TIMESTAMP" property="disLevelTime" />
    <result column="change_plan" jdbcType="VARCHAR" property="changePlan" />
    <result column="change_attach" jdbcType="VARCHAR" property="changeAttach" />
    <result column="change_money" jdbcType="DOUBLE" property="changeMoney" />
    <result column="change_user_id" jdbcType="INTEGER" property="changeUserId" />
    <result column="change_user_name" jdbcType="VARCHAR" property="changeUserName" />
    <result column="change_submit_time" jdbcType="TIMESTAMP" property="changeSubmitTime" />
    <result column="inspect_user_id" jdbcType="BIGINT" property="inspectUserId" />
    <result column="inspect_user_name" jdbcType="VARCHAR" property="inspectUserName" />
    <result column="inspect_extra" jdbcType="VARCHAR" property="inspectExtra" />
    <result column="inspect_photo" jdbcType="VARCHAR" property="inspectPhoto" />
    <result column="inspect_status" jdbcType="INTEGER" property="inspectStatus" />
    <result column="inspect_time" jdbcType="TIMESTAMP" property="inspectTime" />
    <result column="rig_code" jdbcType="VARCHAR" property="rigCode" />
    <result column="rig_id" jdbcType="BIGINT" property="rigId" />
    <result column="evn_photo" jdbcType="VARCHAR" property="evnPhoto" />
    <result column="evn_extra" jdbcType="VARCHAR" property="evnExtra" />
    <result column="evn_status" jdbcType="INTEGER" property="evnStatus" />
    <result column="evn_time" jdbcType="TIMESTAMP" property="evnTime" />
    <result column="evn_user_id" jdbcType="BIGINT" property="evnUserId" />
    <result column="evn_user_name" jdbcType="VARCHAR" property="evnUserName" />
    <result column="find_user_id" jdbcType="BIGINT" property="findUserId" />
    <result column="find_user_name" jdbcType="VARCHAR" property="findUserName" />
    <result column="close_user_id" jdbcType="BIGINT" property="closeUserId" />
    <result column="close_user_name" jdbcType="VARCHAR" property="closeUserName" />
    <result column="close_extra" jdbcType="VARCHAR" property="closeExtra" />
    <result column="change_end_time" jdbcType="TIMESTAMP" property="changeEndTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="is_inspect" jdbcType="INTEGER" property="isInspect" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, danger_code, photo, report_extra, task_code, bg_item_code, 
    dept_id, dept_name, parent_dept_id, parent_dept_name, danger_level, break_user_id, 
    break_user_name, responsibility_user_id, responsibility_user_name, confirm_user_id, 
    confirm_user_name, confirm_time, report_time, change_end_date, report_type, report_status, 
    dis_level_user_id, dis_level_user_name, dis_level_time, change_plan, change_attach, 
    change_money, change_user_id, change_user_name, change_submit_time, inspect_user_id, 
    inspect_user_name, inspect_extra, inspect_photo, inspect_status, inspect_time, rig_code, 
    rig_id, evn_photo, evn_extra, evn_status, evn_time, evn_user_id, evn_user_name, find_user_id, 
    find_user_name, close_user_id, close_user_name, close_extra, change_end_time, close_time, 
    is_inspect
  </sql>
  <select id="selectByExample" parameterType="com.beiken.saas.platform.pojo.HiddenDangerDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sft_hidden_danger
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >= 0">
      limit ${limitStart} , ${count}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sft_hidden_danger
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sft_hidden_danger
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.beiken.saas.platform.pojo.HiddenDangerDOExample">
    delete from sft_hidden_danger
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.beiken.saas.platform.pojo.HiddenDangerDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sft_hidden_danger (gmt_create, gmt_modified, danger_code, 
      photo, report_extra, task_code, 
      bg_item_code, dept_id, dept_name, 
      parent_dept_id, parent_dept_name, danger_level, 
      break_user_id, break_user_name, responsibility_user_id, 
      responsibility_user_name, confirm_user_id, confirm_user_name, 
      confirm_time, report_time, change_end_date, 
      report_type, report_status, dis_level_user_id, 
      dis_level_user_name, dis_level_time, change_plan, 
      change_attach, change_money, change_user_id, 
      change_user_name, change_submit_time, inspect_user_id, 
      inspect_user_name, inspect_extra, inspect_photo, 
      inspect_status, inspect_time, rig_code, 
      rig_id, evn_photo, evn_extra, 
      evn_status, evn_time, evn_user_id, 
      evn_user_name, find_user_id, find_user_name, 
      close_user_id, close_user_name, close_extra, 
      change_end_time, close_time, is_inspect
      )
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{dangerCode,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{reportExtra,jdbcType=VARCHAR}, #{taskCode,jdbcType=VARCHAR}, 
      #{bgItemCode,jdbcType=VARCHAR}, #{deptId,jdbcType=BIGINT}, #{deptName,jdbcType=VARCHAR}, 
      #{parentDeptId,jdbcType=BIGINT}, #{parentDeptName,jdbcType=VARCHAR}, #{dangerLevel,jdbcType=INTEGER}, 
      #{breakUserId,jdbcType=VARCHAR}, #{breakUserName,jdbcType=VARCHAR}, #{responsibilityUserId,jdbcType=BIGINT}, 
      #{responsibilityUserName,jdbcType=VARCHAR}, #{confirmUserId,jdbcType=BIGINT}, #{confirmUserName,jdbcType=VARCHAR}, 
      #{confirmTime,jdbcType=TIMESTAMP}, #{reportTime,jdbcType=TIMESTAMP}, #{changeEndDate,jdbcType=TIMESTAMP}, 
      #{reportType,jdbcType=INTEGER}, #{reportStatus,jdbcType=INTEGER}, #{disLevelUserId,jdbcType=BIGINT}, 
      #{disLevelUserName,jdbcType=VARCHAR}, #{disLevelTime,jdbcType=TIMESTAMP}, #{changePlan,jdbcType=VARCHAR}, 
      #{changeAttach,jdbcType=VARCHAR}, #{changeMoney,jdbcType=DOUBLE}, #{changeUserId,jdbcType=INTEGER}, 
      #{changeUserName,jdbcType=VARCHAR}, #{changeSubmitTime,jdbcType=TIMESTAMP}, #{inspectUserId,jdbcType=BIGINT}, 
      #{inspectUserName,jdbcType=VARCHAR}, #{inspectExtra,jdbcType=VARCHAR}, #{inspectPhoto,jdbcType=VARCHAR}, 
      #{inspectStatus,jdbcType=INTEGER}, #{inspectTime,jdbcType=TIMESTAMP}, #{rigCode,jdbcType=VARCHAR}, 
      #{rigId,jdbcType=BIGINT}, #{evnPhoto,jdbcType=VARCHAR}, #{evnExtra,jdbcType=VARCHAR}, 
      #{evnStatus,jdbcType=INTEGER}, #{evnTime,jdbcType=TIMESTAMP}, #{evnUserId,jdbcType=BIGINT}, 
      #{evnUserName,jdbcType=VARCHAR}, #{findUserId,jdbcType=BIGINT}, #{findUserName,jdbcType=VARCHAR}, 
      #{closeUserId,jdbcType=BIGINT}, #{closeUserName,jdbcType=VARCHAR}, #{closeExtra,jdbcType=VARCHAR}, 
      #{changeEndTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{isInspect,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.beiken.saas.platform.pojo.HiddenDangerDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sft_hidden_danger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="dangerCode != null">
        danger_code,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="reportExtra != null">
        report_extra,
      </if>
      <if test="taskCode != null">
        task_code,
      </if>
      <if test="bgItemCode != null">
        bg_item_code,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="parentDeptId != null">
        parent_dept_id,
      </if>
      <if test="parentDeptName != null">
        parent_dept_name,
      </if>
      <if test="dangerLevel != null">
        danger_level,
      </if>
      <if test="breakUserId != null">
        break_user_id,
      </if>
      <if test="breakUserName != null">
        break_user_name,
      </if>
      <if test="responsibilityUserId != null">
        responsibility_user_id,
      </if>
      <if test="responsibilityUserName != null">
        responsibility_user_name,
      </if>
      <if test="confirmUserId != null">
        confirm_user_id,
      </if>
      <if test="confirmUserName != null">
        confirm_user_name,
      </if>
      <if test="confirmTime != null">
        confirm_time,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="changeEndDate != null">
        change_end_date,
      </if>
      <if test="reportType != null">
        report_type,
      </if>
      <if test="reportStatus != null">
        report_status,
      </if>
      <if test="disLevelUserId != null">
        dis_level_user_id,
      </if>
      <if test="disLevelUserName != null">
        dis_level_user_name,
      </if>
      <if test="disLevelTime != null">
        dis_level_time,
      </if>
      <if test="changePlan != null">
        change_plan,
      </if>
      <if test="changeAttach != null">
        change_attach,
      </if>
      <if test="changeMoney != null">
        change_money,
      </if>
      <if test="changeUserId != null">
        change_user_id,
      </if>
      <if test="changeUserName != null">
        change_user_name,
      </if>
      <if test="changeSubmitTime != null">
        change_submit_time,
      </if>
      <if test="inspectUserId != null">
        inspect_user_id,
      </if>
      <if test="inspectUserName != null">
        inspect_user_name,
      </if>
      <if test="inspectExtra != null">
        inspect_extra,
      </if>
      <if test="inspectPhoto != null">
        inspect_photo,
      </if>
      <if test="inspectStatus != null">
        inspect_status,
      </if>
      <if test="inspectTime != null">
        inspect_time,
      </if>
      <if test="rigCode != null">
        rig_code,
      </if>
      <if test="rigId != null">
        rig_id,
      </if>
      <if test="evnPhoto != null">
        evn_photo,
      </if>
      <if test="evnExtra != null">
        evn_extra,
      </if>
      <if test="evnStatus != null">
        evn_status,
      </if>
      <if test="evnTime != null">
        evn_time,
      </if>
      <if test="evnUserId != null">
        evn_user_id,
      </if>
      <if test="evnUserName != null">
        evn_user_name,
      </if>
      <if test="findUserId != null">
        find_user_id,
      </if>
      <if test="findUserName != null">
        find_user_name,
      </if>
      <if test="closeUserId != null">
        close_user_id,
      </if>
      <if test="closeUserName != null">
        close_user_name,
      </if>
      <if test="closeExtra != null">
        close_extra,
      </if>
      <if test="changeEndTime != null">
        change_end_time,
      </if>
      <if test="closeTime != null">
        close_time,
      </if>
      <if test="isInspect != null">
        is_inspect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="dangerCode != null">
        #{dangerCode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="reportExtra != null">
        #{reportExtra,jdbcType=VARCHAR},
      </if>
      <if test="taskCode != null">
        #{taskCode,jdbcType=VARCHAR},
      </if>
      <if test="bgItemCode != null">
        #{bgItemCode,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="parentDeptId != null">
        #{parentDeptId,jdbcType=BIGINT},
      </if>
      <if test="parentDeptName != null">
        #{parentDeptName,jdbcType=VARCHAR},
      </if>
      <if test="dangerLevel != null">
        #{dangerLevel,jdbcType=INTEGER},
      </if>
      <if test="breakUserId != null">
        #{breakUserId,jdbcType=VARCHAR},
      </if>
      <if test="breakUserName != null">
        #{breakUserName,jdbcType=VARCHAR},
      </if>
      <if test="responsibilityUserId != null">
        #{responsibilityUserId,jdbcType=BIGINT},
      </if>
      <if test="responsibilityUserName != null">
        #{responsibilityUserName,jdbcType=VARCHAR},
      </if>
      <if test="confirmUserId != null">
        #{confirmUserId,jdbcType=BIGINT},
      </if>
      <if test="confirmUserName != null">
        #{confirmUserName,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeEndDate != null">
        #{changeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reportType != null">
        #{reportType,jdbcType=INTEGER},
      </if>
      <if test="reportStatus != null">
        #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="disLevelUserId != null">
        #{disLevelUserId,jdbcType=BIGINT},
      </if>
      <if test="disLevelUserName != null">
        #{disLevelUserName,jdbcType=VARCHAR},
      </if>
      <if test="disLevelTime != null">
        #{disLevelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changePlan != null">
        #{changePlan,jdbcType=VARCHAR},
      </if>
      <if test="changeAttach != null">
        #{changeAttach,jdbcType=VARCHAR},
      </if>
      <if test="changeMoney != null">
        #{changeMoney,jdbcType=DOUBLE},
      </if>
      <if test="changeUserId != null">
        #{changeUserId,jdbcType=INTEGER},
      </if>
      <if test="changeUserName != null">
        #{changeUserName,jdbcType=VARCHAR},
      </if>
      <if test="changeSubmitTime != null">
        #{changeSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectUserId != null">
        #{inspectUserId,jdbcType=BIGINT},
      </if>
      <if test="inspectUserName != null">
        #{inspectUserName,jdbcType=VARCHAR},
      </if>
      <if test="inspectExtra != null">
        #{inspectExtra,jdbcType=VARCHAR},
      </if>
      <if test="inspectPhoto != null">
        #{inspectPhoto,jdbcType=VARCHAR},
      </if>
      <if test="inspectStatus != null">
        #{inspectStatus,jdbcType=INTEGER},
      </if>
      <if test="inspectTime != null">
        #{inspectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rigCode != null">
        #{rigCode,jdbcType=VARCHAR},
      </if>
      <if test="rigId != null">
        #{rigId,jdbcType=BIGINT},
      </if>
      <if test="evnPhoto != null">
        #{evnPhoto,jdbcType=VARCHAR},
      </if>
      <if test="evnExtra != null">
        #{evnExtra,jdbcType=VARCHAR},
      </if>
      <if test="evnStatus != null">
        #{evnStatus,jdbcType=INTEGER},
      </if>
      <if test="evnTime != null">
        #{evnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evnUserId != null">
        #{evnUserId,jdbcType=BIGINT},
      </if>
      <if test="evnUserName != null">
        #{evnUserName,jdbcType=VARCHAR},
      </if>
      <if test="findUserId != null">
        #{findUserId,jdbcType=BIGINT},
      </if>
      <if test="findUserName != null">
        #{findUserName,jdbcType=VARCHAR},
      </if>
      <if test="closeUserId != null">
        #{closeUserId,jdbcType=BIGINT},
      </if>
      <if test="closeUserName != null">
        #{closeUserName,jdbcType=VARCHAR},
      </if>
      <if test="closeExtra != null">
        #{closeExtra,jdbcType=VARCHAR},
      </if>
      <if test="changeEndTime != null">
        #{changeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isInspect != null">
        #{isInspect,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.beiken.saas.platform.pojo.HiddenDangerDOExample" resultType="java.lang.Long">
    select count(*) from sft_hidden_danger
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sft_hidden_danger
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dangerCode != null">
        danger_code = #{record.dangerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.reportExtra != null">
        report_extra = #{record.reportExtra,jdbcType=VARCHAR},
      </if>
      <if test="record.taskCode != null">
        task_code = #{record.taskCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bgItemCode != null">
        bg_item_code = #{record.bgItemCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null">
        dept_id = #{record.deptId,jdbcType=BIGINT},
      </if>
      <if test="record.deptName != null">
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentDeptId != null">
        parent_dept_id = #{record.parentDeptId,jdbcType=BIGINT},
      </if>
      <if test="record.parentDeptName != null">
        parent_dept_name = #{record.parentDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.dangerLevel != null">
        danger_level = #{record.dangerLevel,jdbcType=INTEGER},
      </if>
      <if test="record.breakUserId != null">
        break_user_id = #{record.breakUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.breakUserName != null">
        break_user_name = #{record.breakUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.responsibilityUserId != null">
        responsibility_user_id = #{record.responsibilityUserId,jdbcType=BIGINT},
      </if>
      <if test="record.responsibilityUserName != null">
        responsibility_user_name = #{record.responsibilityUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmUserId != null">
        confirm_user_id = #{record.confirmUserId,jdbcType=BIGINT},
      </if>
      <if test="record.confirmUserName != null">
        confirm_user_name = #{record.confirmUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmTime != null">
        confirm_time = #{record.confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reportTime != null">
        report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeEndDate != null">
        change_end_date = #{record.changeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reportType != null">
        report_type = #{record.reportType,jdbcType=INTEGER},
      </if>
      <if test="record.reportStatus != null">
        report_status = #{record.reportStatus,jdbcType=INTEGER},
      </if>
      <if test="record.disLevelUserId != null">
        dis_level_user_id = #{record.disLevelUserId,jdbcType=BIGINT},
      </if>
      <if test="record.disLevelUserName != null">
        dis_level_user_name = #{record.disLevelUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.disLevelTime != null">
        dis_level_time = #{record.disLevelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changePlan != null">
        change_plan = #{record.changePlan,jdbcType=VARCHAR},
      </if>
      <if test="record.changeAttach != null">
        change_attach = #{record.changeAttach,jdbcType=VARCHAR},
      </if>
      <if test="record.changeMoney != null">
        change_money = #{record.changeMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.changeUserId != null">
        change_user_id = #{record.changeUserId,jdbcType=INTEGER},
      </if>
      <if test="record.changeUserName != null">
        change_user_name = #{record.changeUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.changeSubmitTime != null">
        change_submit_time = #{record.changeSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inspectUserId != null">
        inspect_user_id = #{record.inspectUserId,jdbcType=BIGINT},
      </if>
      <if test="record.inspectUserName != null">
        inspect_user_name = #{record.inspectUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectExtra != null">
        inspect_extra = #{record.inspectExtra,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectPhoto != null">
        inspect_photo = #{record.inspectPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectStatus != null">
        inspect_status = #{record.inspectStatus,jdbcType=INTEGER},
      </if>
      <if test="record.inspectTime != null">
        inspect_time = #{record.inspectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rigCode != null">
        rig_code = #{record.rigCode,jdbcType=VARCHAR},
      </if>
      <if test="record.rigId != null">
        rig_id = #{record.rigId,jdbcType=BIGINT},
      </if>
      <if test="record.evnPhoto != null">
        evn_photo = #{record.evnPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.evnExtra != null">
        evn_extra = #{record.evnExtra,jdbcType=VARCHAR},
      </if>
      <if test="record.evnStatus != null">
        evn_status = #{record.evnStatus,jdbcType=INTEGER},
      </if>
      <if test="record.evnTime != null">
        evn_time = #{record.evnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.evnUserId != null">
        evn_user_id = #{record.evnUserId,jdbcType=BIGINT},
      </if>
      <if test="record.evnUserName != null">
        evn_user_name = #{record.evnUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.findUserId != null">
        find_user_id = #{record.findUserId,jdbcType=BIGINT},
      </if>
      <if test="record.findUserName != null">
        find_user_name = #{record.findUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.closeUserId != null">
        close_user_id = #{record.closeUserId,jdbcType=BIGINT},
      </if>
      <if test="record.closeUserName != null">
        close_user_name = #{record.closeUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.closeExtra != null">
        close_extra = #{record.closeExtra,jdbcType=VARCHAR},
      </if>
      <if test="record.changeEndTime != null">
        change_end_time = #{record.changeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.closeTime != null">
        close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isInspect != null">
        is_inspect = #{record.isInspect,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sft_hidden_danger
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      danger_code = #{record.dangerCode,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      report_extra = #{record.reportExtra,jdbcType=VARCHAR},
      task_code = #{record.taskCode,jdbcType=VARCHAR},
      bg_item_code = #{record.bgItemCode,jdbcType=VARCHAR},
      dept_id = #{record.deptId,jdbcType=BIGINT},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      parent_dept_id = #{record.parentDeptId,jdbcType=BIGINT},
      parent_dept_name = #{record.parentDeptName,jdbcType=VARCHAR},
      danger_level = #{record.dangerLevel,jdbcType=INTEGER},
      break_user_id = #{record.breakUserId,jdbcType=VARCHAR},
      break_user_name = #{record.breakUserName,jdbcType=VARCHAR},
      responsibility_user_id = #{record.responsibilityUserId,jdbcType=BIGINT},
      responsibility_user_name = #{record.responsibilityUserName,jdbcType=VARCHAR},
      confirm_user_id = #{record.confirmUserId,jdbcType=BIGINT},
      confirm_user_name = #{record.confirmUserName,jdbcType=VARCHAR},
      confirm_time = #{record.confirmTime,jdbcType=TIMESTAMP},
      report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      change_end_date = #{record.changeEndDate,jdbcType=TIMESTAMP},
      report_type = #{record.reportType,jdbcType=INTEGER},
      report_status = #{record.reportStatus,jdbcType=INTEGER},
      dis_level_user_id = #{record.disLevelUserId,jdbcType=BIGINT},
      dis_level_user_name = #{record.disLevelUserName,jdbcType=VARCHAR},
      dis_level_time = #{record.disLevelTime,jdbcType=TIMESTAMP},
      change_plan = #{record.changePlan,jdbcType=VARCHAR},
      change_attach = #{record.changeAttach,jdbcType=VARCHAR},
      change_money = #{record.changeMoney,jdbcType=DOUBLE},
      change_user_id = #{record.changeUserId,jdbcType=INTEGER},
      change_user_name = #{record.changeUserName,jdbcType=VARCHAR},
      change_submit_time = #{record.changeSubmitTime,jdbcType=TIMESTAMP},
      inspect_user_id = #{record.inspectUserId,jdbcType=BIGINT},
      inspect_user_name = #{record.inspectUserName,jdbcType=VARCHAR},
      inspect_extra = #{record.inspectExtra,jdbcType=VARCHAR},
      inspect_photo = #{record.inspectPhoto,jdbcType=VARCHAR},
      inspect_status = #{record.inspectStatus,jdbcType=INTEGER},
      inspect_time = #{record.inspectTime,jdbcType=TIMESTAMP},
      rig_code = #{record.rigCode,jdbcType=VARCHAR},
      rig_id = #{record.rigId,jdbcType=BIGINT},
      evn_photo = #{record.evnPhoto,jdbcType=VARCHAR},
      evn_extra = #{record.evnExtra,jdbcType=VARCHAR},
      evn_status = #{record.evnStatus,jdbcType=INTEGER},
      evn_time = #{record.evnTime,jdbcType=TIMESTAMP},
      evn_user_id = #{record.evnUserId,jdbcType=BIGINT},
      evn_user_name = #{record.evnUserName,jdbcType=VARCHAR},
      find_user_id = #{record.findUserId,jdbcType=BIGINT},
      find_user_name = #{record.findUserName,jdbcType=VARCHAR},
      close_user_id = #{record.closeUserId,jdbcType=BIGINT},
      close_user_name = #{record.closeUserName,jdbcType=VARCHAR},
      close_extra = #{record.closeExtra,jdbcType=VARCHAR},
      change_end_time = #{record.changeEndTime,jdbcType=TIMESTAMP},
      close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      is_inspect = #{record.isInspect,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.beiken.saas.platform.pojo.HiddenDangerDO">
    update sft_hidden_danger
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="dangerCode != null">
        danger_code = #{dangerCode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="reportExtra != null">
        report_extra = #{reportExtra,jdbcType=VARCHAR},
      </if>
      <if test="taskCode != null">
        task_code = #{taskCode,jdbcType=VARCHAR},
      </if>
      <if test="bgItemCode != null">
        bg_item_code = #{bgItemCode,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="parentDeptId != null">
        parent_dept_id = #{parentDeptId,jdbcType=BIGINT},
      </if>
      <if test="parentDeptName != null">
        parent_dept_name = #{parentDeptName,jdbcType=VARCHAR},
      </if>
      <if test="dangerLevel != null">
        danger_level = #{dangerLevel,jdbcType=INTEGER},
      </if>
      <if test="breakUserId != null">
        break_user_id = #{breakUserId,jdbcType=VARCHAR},
      </if>
      <if test="breakUserName != null">
        break_user_name = #{breakUserName,jdbcType=VARCHAR},
      </if>
      <if test="responsibilityUserId != null">
        responsibility_user_id = #{responsibilityUserId,jdbcType=BIGINT},
      </if>
      <if test="responsibilityUserName != null">
        responsibility_user_name = #{responsibilityUserName,jdbcType=VARCHAR},
      </if>
      <if test="confirmUserId != null">
        confirm_user_id = #{confirmUserId,jdbcType=BIGINT},
      </if>
      <if test="confirmUserName != null">
        confirm_user_name = #{confirmUserName,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeEndDate != null">
        change_end_date = #{changeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reportType != null">
        report_type = #{reportType,jdbcType=INTEGER},
      </if>
      <if test="reportStatus != null">
        report_status = #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="disLevelUserId != null">
        dis_level_user_id = #{disLevelUserId,jdbcType=BIGINT},
      </if>
      <if test="disLevelUserName != null">
        dis_level_user_name = #{disLevelUserName,jdbcType=VARCHAR},
      </if>
      <if test="disLevelTime != null">
        dis_level_time = #{disLevelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changePlan != null">
        change_plan = #{changePlan,jdbcType=VARCHAR},
      </if>
      <if test="changeAttach != null">
        change_attach = #{changeAttach,jdbcType=VARCHAR},
      </if>
      <if test="changeMoney != null">
        change_money = #{changeMoney,jdbcType=DOUBLE},
      </if>
      <if test="changeUserId != null">
        change_user_id = #{changeUserId,jdbcType=INTEGER},
      </if>
      <if test="changeUserName != null">
        change_user_name = #{changeUserName,jdbcType=VARCHAR},
      </if>
      <if test="changeSubmitTime != null">
        change_submit_time = #{changeSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectUserId != null">
        inspect_user_id = #{inspectUserId,jdbcType=BIGINT},
      </if>
      <if test="inspectUserName != null">
        inspect_user_name = #{inspectUserName,jdbcType=VARCHAR},
      </if>
      <if test="inspectExtra != null">
        inspect_extra = #{inspectExtra,jdbcType=VARCHAR},
      </if>
      <if test="inspectPhoto != null">
        inspect_photo = #{inspectPhoto,jdbcType=VARCHAR},
      </if>
      <if test="inspectStatus != null">
        inspect_status = #{inspectStatus,jdbcType=INTEGER},
      </if>
      <if test="inspectTime != null">
        inspect_time = #{inspectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rigCode != null">
        rig_code = #{rigCode,jdbcType=VARCHAR},
      </if>
      <if test="rigId != null">
        rig_id = #{rigId,jdbcType=BIGINT},
      </if>
      <if test="evnPhoto != null">
        evn_photo = #{evnPhoto,jdbcType=VARCHAR},
      </if>
      <if test="evnExtra != null">
        evn_extra = #{evnExtra,jdbcType=VARCHAR},
      </if>
      <if test="evnStatus != null">
        evn_status = #{evnStatus,jdbcType=INTEGER},
      </if>
      <if test="evnTime != null">
        evn_time = #{evnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evnUserId != null">
        evn_user_id = #{evnUserId,jdbcType=BIGINT},
      </if>
      <if test="evnUserName != null">
        evn_user_name = #{evnUserName,jdbcType=VARCHAR},
      </if>
      <if test="findUserId != null">
        find_user_id = #{findUserId,jdbcType=BIGINT},
      </if>
      <if test="findUserName != null">
        find_user_name = #{findUserName,jdbcType=VARCHAR},
      </if>
      <if test="closeUserId != null">
        close_user_id = #{closeUserId,jdbcType=BIGINT},
      </if>
      <if test="closeUserName != null">
        close_user_name = #{closeUserName,jdbcType=VARCHAR},
      </if>
      <if test="closeExtra != null">
        close_extra = #{closeExtra,jdbcType=VARCHAR},
      </if>
      <if test="changeEndTime != null">
        change_end_time = #{changeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isInspect != null">
        is_inspect = #{isInspect,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beiken.saas.platform.pojo.HiddenDangerDO">
    update sft_hidden_danger
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      danger_code = #{dangerCode,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      report_extra = #{reportExtra,jdbcType=VARCHAR},
      task_code = #{taskCode,jdbcType=VARCHAR},
      bg_item_code = #{bgItemCode,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=BIGINT},
      dept_name = #{deptName,jdbcType=VARCHAR},
      parent_dept_id = #{parentDeptId,jdbcType=BIGINT},
      parent_dept_name = #{parentDeptName,jdbcType=VARCHAR},
      danger_level = #{dangerLevel,jdbcType=INTEGER},
      break_user_id = #{breakUserId,jdbcType=VARCHAR},
      break_user_name = #{breakUserName,jdbcType=VARCHAR},
      responsibility_user_id = #{responsibilityUserId,jdbcType=BIGINT},
      responsibility_user_name = #{responsibilityUserName,jdbcType=VARCHAR},
      confirm_user_id = #{confirmUserId,jdbcType=BIGINT},
      confirm_user_name = #{confirmUserName,jdbcType=VARCHAR},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      change_end_date = #{changeEndDate,jdbcType=TIMESTAMP},
      report_type = #{reportType,jdbcType=INTEGER},
      report_status = #{reportStatus,jdbcType=INTEGER},
      dis_level_user_id = #{disLevelUserId,jdbcType=BIGINT},
      dis_level_user_name = #{disLevelUserName,jdbcType=VARCHAR},
      dis_level_time = #{disLevelTime,jdbcType=TIMESTAMP},
      change_plan = #{changePlan,jdbcType=VARCHAR},
      change_attach = #{changeAttach,jdbcType=VARCHAR},
      change_money = #{changeMoney,jdbcType=DOUBLE},
      change_user_id = #{changeUserId,jdbcType=INTEGER},
      change_user_name = #{changeUserName,jdbcType=VARCHAR},
      change_submit_time = #{changeSubmitTime,jdbcType=TIMESTAMP},
      inspect_user_id = #{inspectUserId,jdbcType=BIGINT},
      inspect_user_name = #{inspectUserName,jdbcType=VARCHAR},
      inspect_extra = #{inspectExtra,jdbcType=VARCHAR},
      inspect_photo = #{inspectPhoto,jdbcType=VARCHAR},
      inspect_status = #{inspectStatus,jdbcType=INTEGER},
      inspect_time = #{inspectTime,jdbcType=TIMESTAMP},
      rig_code = #{rigCode,jdbcType=VARCHAR},
      rig_id = #{rigId,jdbcType=BIGINT},
      evn_photo = #{evnPhoto,jdbcType=VARCHAR},
      evn_extra = #{evnExtra,jdbcType=VARCHAR},
      evn_status = #{evnStatus,jdbcType=INTEGER},
      evn_time = #{evnTime,jdbcType=TIMESTAMP},
      evn_user_id = #{evnUserId,jdbcType=BIGINT},
      evn_user_name = #{evnUserName,jdbcType=VARCHAR},
      find_user_id = #{findUserId,jdbcType=BIGINT},
      find_user_name = #{findUserName,jdbcType=VARCHAR},
      close_user_id = #{closeUserId,jdbcType=BIGINT},
      close_user_name = #{closeUserName,jdbcType=VARCHAR},
      close_extra = #{closeExtra,jdbcType=VARCHAR},
      change_end_time = #{changeEndTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      is_inspect = #{isInspect,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>